body {
	background: url("../images/background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
.grey {
	color: #555555;
}
.view-overlay {
	position: absolute;
	z-index: 1;
}
.error-text {
	color: red;
}
.is-invalid {
	input {
		border: 1px solid red !important;
	}
}
